In [1]:
import pandas as pd

## working with json

In [2]:
pd.read_json("train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,0.0483
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,1.1600
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,1.4700
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,6.1900
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,0.0235
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,1.4500
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,3.2900
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,0.1910
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,0.2290
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-04-14,1649894401,1.9700

## working with sql

In [4]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\nagam\anaconda3\lib\site-packages (2.2.9)

In [5]:
import mysql.connector

In [9]:
conn=mysql.connector.connect(host='localhost',user='root',password ='',database='world')

In [8]:
pd.read_sql_query("SELECT * FROM countrylanguage WHERE Language LIKE 'English'",conn)
# for more information :   https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html

   CountryCode Language IsOfficial  Percentage
0          ABW  English          F         9.5
1          AIA  English          T         0.0
2          ANT  English          F         7.8
3          ASM  English          T         3.1
4          ATG  English          T         0.0
5          AUS  English          T        81.2
6          BHR  English          F         0.0
7          BLZ  English          T        50.8
8          BMU  English          T       100.0
9          BRB  English          T         0.0
10         BRN  English          F         3.1
11         CAN  English          T        60.4
12         CCK  English          T         0.0
13         COK  English          F         0.0
14         CXR  English          T         0.0
15         CYM  English          T         0.0
16         DNK  English          F         0.3
17         FLK  English          T         0.0
18         GBR  English          T        97.3
19         GIB  English          T        88.9
20         GUM  English          T        37.5
21         HKG  English          T         2.2
22         IRL  English          T        98.4
23         ISL  English          F         0.0
24         JPN  English          F         0.1
25         KNA  English          T         0.0
26         KWT  English          F         0.0
27         LCA  English          T        20.0
28         LSO  English          T         0.0
29         MAC  English          F         0.5
30         MCO  English          F         6.5
31         MDV  English          F         0.0
32         MHL  English          T         0.0
33         MLT  English          T         2.1
34         MNP  English          T         4.8
35         MSR  English          T         0.0
36         MYS  English          F         1.6
37         NFK  English          T         0.0
38         NIU  English          T         0.0
39         NOR  English          F         0.5
40         NRU  English          T         7.5
41         NZL  English          T        87.0
42         PLW  English          T         3.2
43         PRI  English          F        47.4
44         SHN  English          T         0.0
45         SYC  English          T         3.8
46         TCA  English          T         0.0
47         TKL  English          T         0.0
48         TON  English          T         0.0
49         TTO  English          F        93.5
50         TUV  English          T         0.0
51         UMI  English          T         0.0
52         USA  English          T        86.2
53         VCT  English          T         0.0
54         VGB  English          T         0.0
55         VIR  English          T        81.7
56         VUT  English          T        28.3
57         WSM  English          T         0.6
58         ZAF  English          T         8.5
59         ZWE  English          T         2.2